{% extends 'base.html.twig' %}

{% block title %}Stripe gateway{% endblock %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="">Checkout</h1>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="col-xs-6 active">Product</th>
                            <th class="col-xs-3 active text-center">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <th class="col-xs-6 checkout-product-name">{{ product.name }}</th>
                                <td class="col-xs-3">${{ product.price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th class="col-xs-6 info">Total</th>
                            <td class="col-xs-3 info checkout-total">${{ cart.total }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <form action="" method="POST">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_51J5z56JHoP3GWD9wNxsMxTGGXWkCNktSu8jURKYyHK5ul0cA4xBbX7A4eGxnytqPqF7SsIfYKUyCHHOuGlCYnt2600LiRsUPqX"
                                data-amount="{{ cart.total * 100 }}"
                                data-name="st.dio"
                                data-description="Widget"
                                data-image="https://stdio.cz/thumbs/450x253r/2020-09/vodovodov03.jpg"
                                data-zip-code="true"
                                data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
