{% extends 'base.html.twig' %}

{% block title %}Stripe gateway{% endblock %}

{% block body %}
    <h1>Testing</h1>
    <a  href="{{ path('order_checkout') }}"> stripe gateway</a>
    <p></p>
    <a href="{{ path('sendgrid') }}"> sengrid email </a>
{% endblock %}